@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #000000;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5em;
    color: #fff;
}



#log>div {
    animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

/* not sure what this is hiding so i'll keep it */
.colon {
    display: none;
}

/* #log is the main parent div. All child divs are the actual messages */

#log {
    display: table;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 10px 10px;
    width: 100%;
    table-layout: fixed;
}

/* Applies to all child divs of log */
#log>div {
  	display: inline-block;
    background-image: url('https://raw.githubusercontent.com/KanaeSumida/streamlabs-chatbox-themes/main/ffxiv-npc-textbox/ffxiv-npc-textbox.png');
    background-repeat: none;
    /* 
        Width and height locked to the size of the background
        image that's being used
    */    
    min-width: 660px !important;
  	max-width: 660px !important;
  	width: 660px !important;
  	min-height: 160px !important;
  	max-height: 160px !important;
  	height: 160px !important;
}

/* Hides all messages that get deleted by a mod */
#log>div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .name {
    position: absolute;
    top: 0px;
    left: 50px;
    /* Width has to be set here for some reason or we get
    artifacts below the text */
     width: 250px !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;    
    text-align: left;
    color: #fff;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 1.5rem;
}

#log .message {
    position: absolute;
    top: 46px;
    left: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-right: 40px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222020;
    font-size: 20px;
}