@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #616060;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
}

#log {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    
}

#log>div {
    display: inline-block;
    min-width: 1320px;
    min-height: 320px;
    /* must have position relative for .name absolute to work */
    position: relative;
    animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
    -webkit-animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

#log .background-img {
    width: 1320px;
    height: 320px;
}

#log .name {
    position: absolute;
    top: 6px;
    left: 126px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-align: left;
    color: #fff;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 55px;
}

#log .message {
    position: absolute;
    top: 67px;
    left: 100px;
    width: 1070px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222020;
    font-size: 53px;
}